# Introduction to scikit-learn (sklearn)  
this notebook demostrates the some of the most useful functions of the beautiful scikit learn library 
what we're going to cover
1. an end-to-end scikit-learn workflow
2. getting the data ready
3. choose the right estimator/algorith for our problems
4. fit the model and use it to make pridictions on our data
5. evaluating a model
6. improve a model
7. save and load a trained model
8. put it all together

## 1. an end-to-end scikit-learn workflow

In [68]:
what_were_covering = ['1. an end-to-end scikit-learn workflow',
'2. getting the data ready',
'3. choose the right estimator/algorith for our problems',
'4. fit the model and use it to make pridictions on our data',
'5. evaluating a model',
'6. improve a model',
'7. save and load a trained model',
'8. put it all together']

In [69]:
# getting the data ready
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
heart_diesease  = pd.read_csv("./data/heart-disease.xls")
heart_diesease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [70]:
# create X (features matrix)
X = heart_diesease.drop("target", axis=1)

# create Y (labels matrix)
Y = heart_diesease["target"]

In [71]:
# 2. choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier()

# we'll keep the default hyperparameter 
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [72]:
# 3. fit the model to the training data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [73]:
clf.fit(X_train, Y_train);

In [74]:
# make a prediction
# y_label = clf.predict(np.array([0,2,3,4]))
y_preds = clf.predict(X_test)
y_preds

array([0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1])

In [75]:
Y_test.head(11)

166    0
12     1
182    0
282    0
177    0
72     1
49     1
38     1
237    0
2      1
169    0
Name: target, dtype: int64

In [76]:
# 4. evaluate the model on the trainding data and test data
clf.score(X_train, Y_train)

1.0

In [77]:
clf.score(X_test,Y_test)

0.8360655737704918

In [78]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [79]:
print(classification_report(Y_test, y_preds))

              precision    recall  f1-score   support

           0       0.85      0.79      0.81        28
           1       0.83      0.88      0.85        33

    accuracy                           0.84        61
   macro avg       0.84      0.83      0.83        61
weighted avg       0.84      0.84      0.84        61

In [80]:
confusion_matrix(Y_test, y_preds)

array([[22,  6],
       [ 4, 29]])

In [81]:
accuracy_score(Y_test, y_preds)

0.8360655737704918

In [82]:
# 5. improve a model 
# Try differen amt of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators..")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f"Model accuracy on test set {clf.score(X_test, Y_test)*100:.2f}%")
    print("")

Trying model with 10 estimators..
Model accuracy on test set 78.69%

Trying model with 20 estimators..
Model accuracy on test set 77.05%

Trying model with 30 estimators..
Model accuracy on test set 83.61%

Trying model with 40 estimators..
Model accuracy on test set 80.33%

Trying model with 50 estimators..
Model accuracy on test set 81.97%

Trying model with 60 estimators..
Model accuracy on test set 83.61%

Trying model with 70 estimators..
Model accuracy on test set 83.61%

Trying model with 80 estimators..
Model accuracy on test set 83.61%

Trying model with 90 estimators..
Model accuracy on test set 81.97%

In [83]:
# 6. save a model and load
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [84]:
# load a model
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(X_test, Y_test)

0.819672131147541

## 2. getting the data ready to be used with machine learning

Three main things we have to do:
1. Split the data into features and labels (usually 'X' and 'Y')
2. filling (also called imputing) Or disregarding missing values
3. converting non-numerical vals to numerical vals (also called feature encoding)

In [85]:
X = heart_diesease.drop("target", axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [86]:
Y = heart_diesease["target"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [87]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [88]:
X_train.shape

(242, 13)

### 1.1 make sure its all numerical first

In [89]:
car_sales = pd.read_csv("./data/car-sales-extended.xls")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [90]:
len(car_sales)

1000

In [91]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [92]:
X = car_sales.drop("Price", axis=1)
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [93]:
Y = car_sales["Price"]
Y.head()

0    15323
1    19943
2    28343
3    13434
4    14043
Name: Price, dtype: int64

In [94]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [95]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
# model.fit(x_train, y_train)
# model.score(X_test, Y_test)

In [96]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [97]:
# turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

catigorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("One_hot", one_hot, catigorical_features)], remainder="passthrough")

Tranformed_X = transformer.fit_transform(X)
Tranformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [98]:
pd.DataFrame(Tranformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [99]:
dummies = pd.get_dummies(car_sales[["Make", "Doors", "Colour"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,True,False,False,False,False,False,False,True
1,5,True,False,False,False,False,True,False,False,False
2,4,False,True,False,False,False,False,False,False,True
3,4,False,False,False,True,False,False,False,False,True
4,3,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,4,False,False,False,True,True,False,False,False,False
996,3,False,False,True,False,False,False,False,False,True
997,4,False,False,True,False,False,True,False,False,False
998,4,False,True,False,False,False,False,False,False,True
999,4,False,False,False,True,False,True,False,False,False

In [100]:
# lets fit the model
np.random.seed(42)
X_train, X_test, Y_train, Y_test = train_test_split(Tranformed_X,Y,test_size=0.2)
model.fit(X_train, Y_train)
model.score(X_test,Y_test)

0.3235867221569877

### 1.2 what if we have missing values?
1. fill them with some values (also known as imputation).
2. Remove the samples with missing data altogether.

In [101]:
carMissing = pd.read_csv("./data/car-sales-extended-missing-data.xls")
carMissing.head(10)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0
5   Honda    Red        42652.0    4.0  23883.0
6  Toyota   Blue       163453.0    4.0   8473.0
7   Honda  White            NaN    4.0  20306.0
8     NaN  White       130538.0    4.0   9374.0
9   Honda   Blue        51029.0    4.0  26683.0

In [102]:
carMissing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [103]:
X = carMissing.drop("Price", axis=1)
Y = carMissing["Price"]

In [104]:
# turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

catigorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("One_hot", one_hot, catigorical_features)], remainder="passthrough")

Tranformed_X = transformer.fit_transform(X)
Tranformed_X

# used to give errors when data used to have NaNs

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

#### option 1 : fill missing data with pandas

In [105]:
#  fill the 'make' column
carMissing['Make'].fillna("missing", inplace=True)

# fill the 'colour' column
carMissing['Colour'].fillna("missing", inplace=True)

# fill the 'Odometer (KM)' column
carMissing["Odometer (KM)"].fillna(carMissing["Odometer (KM)"].mean(), inplace=True)

# fill the 'Doors' column
carMissing["Doors"].fillna(4, inplace=True)

/tmp/ipykernel_386181/2015391120.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  carMissing['Make'].fillna("missing", inplace=True)
/tmp/ipykernel_386181/2015391120.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  carMissing['Colour'].fillna("missing", inplace=True)
/tmp/ipykernel_386181/2015391120.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  carMissing["Odometer (KM)"].fillna(carMissing["Odometer (KM)"].mean(), inplace=True)
/tmp/ipykernel_386181/2015391120.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  carMissing["Doors"].fillna(4, inplace=True)

In [106]:
# check our dataframe again
carMissing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [107]:
# remove rows with missing price value
carMissing.dropna(inplace=True)

In [108]:
X = carMissing.drop("Price", axis=1)
Y = carMissing["Price"]

In [109]:
# turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

catigorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("One_hot", one_hot, catigorical_features)], remainder="passthrough")

Tranformed_X = transformer.fit_transform(carMissing)
Tranformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

### option 2 : fill missing values with skikit-learn

In [110]:
carMissing = pd.read_csv("./data/car-sales-extended-missing-data.xls")
carMissing.head(7)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0
5   Honda    Red        42652.0    4.0  23883.0
6  Toyota   Blue       163453.0    4.0   8473.0

In [111]:
carMissing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [112]:
# Drop the rows with no labels
carMissing.dropna(subset=["Price"], inplace=True)
carMissing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [113]:
# Split into X and Y
X = carMissing.drop("Price", axis=1)
Y = carMissing["Price"]

In [114]:
# fill missing values with sklearn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# fill catogorical values with 'missing' & numerical values with mean
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value=4)
num_imputer = SimpleImputer(strategy="mean")

# Define columns
cat_features = ["Make", "Colour"]
door_feature = ["Doors"]
num_features = ["Odometer (KM)"]

# create an imputer (something that fills data)
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_features)
])

# transform the X
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [115]:
carMissingFilled = pd.DataFrame(filled_X, columns=["Make", "Colour", "Doors", "Odometer (KM)"])

In [116]:
carMissingFilled.head(10)

      Make Colour Doors  Odometer (KM)
0    Honda  White   4.0        35431.0
1      BMW   Blue   5.0       192714.0
2    Honda  White   4.0        84714.0
3   Toyota  White   4.0       154365.0
4   Nissan   Blue   3.0       181577.0
5    Honda    Red   4.0        42652.0
6   Toyota   Blue   4.0       163453.0
7    Honda  White   4.0  130987.447894
8  missing  White   4.0       130538.0
9    Honda   Blue   4.0        51029.0

In [117]:
carMissingFilled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [118]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

cat_features = ["Make", "Colour", "Doors"]
onehot = OneHotEncoder()
transformer = ColumnTransformer([("onehot", onehot, cat_features)], remainder="passthrough")

transfromed_X = transformer.fit_transform(carMissingFilled) 
transfromed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [119]:
# Now we got model as Numbers and no missing Value
# Lets fit a model
np.random.seed(69)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(transfromed_X, Y, test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train, Y_train)
model.score(X_test, Y_test)

0.25364946840137126

In [120]:
what_were_covering

['1. an end-to-end scikit-learn workflow',
 '2. getting the data ready',
 '3. choose the right estimator/algorith for our problems',
 '4. fit the model and use it to make pridictions on our data',
 '5. evaluating a model',
 '6. improve a model',
 '7. save and load a trained model',
 '8. put it all together']

## 3. choosing the rignt model for our problem
some things to note:
* sklearn refers to machine learning models, algorithms as estimators
* classification problems - pridicting a categary (heart disease or Not)
    * sometimes you'll see `clf` (short for classifier) used as classification estimator
* regression problem - predicting a number (seeling price of a car)

If you are working on a ML problem and not sure on what model to use, please refer to this map: https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

### 2.1 picking a ml model for regression model 

let's use the california housing dataset : https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html

In [121]:
# get california housing dataset
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [122]:
housingDf = pd.DataFrame(housing["data"], columns=housing["feature_names"])
housingDf

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [123]:
housingDf["MedHouseVal"] = housing["target"]
housingDf

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [124]:
housingDf["target"] = housing["target"]

In [125]:
housingDf = housingDf.drop("MedHouseVal", axis = 1)

In [126]:
housingDf

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422
...,...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09,0.781
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21,0.771
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22,0.923
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32,0.847
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24,0.894

In [127]:
# Import algo
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

# setup random seed
np.random.seed(69)

# create the data
X = housingDf.drop("target", axis=1)
Y = housingDf["target"]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

# instantiate and fit the model (on the training set)
model = Ridge()
model.fit(X_train, Y_train)
model.score(X_test, Y_test)

0.6060537241737071

what if `Ridge` didn't work or the score didn't fit our needs?

well, we could always try a diffrent model...

How about we try an ensemble method (An ensemble is a smaller model that is used to try and make better predictions than just a single model.)

sklearn's essemble models can be found here: https://scikit-learn.org/stable/modules/ensemble.html

In [128]:
# import the RandomForestRegressor model class from the esemble model
from sklearn.ensemble import RandomForestRegressor

# setup random seed
np.random.seed(69)

X = housingDf.drop("target", axis=1)
Y = housingDf["target"]

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

regressor = RandomForestRegressor()
regressor.fit(X_train, Y_train)
regressor.score(X_test, Y_test)

0.8081172925648716

## 2.2 Picking a machine learing model for a classification problem 

lets go to the map........... https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [129]:
heartDisease = pd.read_csv("./data/heart-disease.csv")

FileNotFoundError: [Errno 2] No such file or directory: './data/heart-disease.csv'

In [ ]:
heartDisease

In [ ]:
from sklearn.svm import LinearSVC

# set up random seed 
np.random.seed(42)

# make the data
X=heartDisease.drop("target", axis=1)
Y=heartDisease["target"]

# split the data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2)

# instantiate LinearSVC
clf = LinearSVC(max_iter=100)
clf.fit(X_train, Y_train)

# evaluate the LinearSVC
clf.score(X_test,Y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
np.random.seed(42)
X=heartDisease.drop("target", axis=1)
Y=heartDisease["target"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
clf=RandomForestClassifier()
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

Titbit:

If u have stuctured data use ensemble methods

If u have unstructuresd data , use deep learning or transfer learning

In [ ]:
what_were_covering

## 4. fit the model and make pridictions

### 4.1 fit the model

different names for:
* `X` = features, data, features variables
* `Y` = labels, targets, target variables

In [ ]:
from sklearn.ensemble import RandomForestClassifier
np.random.seed(42)
X=heartDisease.drop("target", axis=1)
Y=heartDisease["target"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
clf=RandomForestClassifier()
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

### 4.2 MAKE PREDICTIONS USING A MACHINE LEARNING MODEL
two ways to make predictions :
1. `predict()`
2.  `predict_probs()`

In [ ]:
clf.predict(X_test)

In [ ]:
np.array(Y_test)

In [ ]:
# make 

Y_pred = clf.predict(X_test)
np.mean(Y_pred == np.array(Y_test))

In [ ]:
clf.score(X_test, Y_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test, Y_pred)

make predictions with `predict_proba()`

In [ ]:
#predict_provba() returns probabilities of a classification label
clf.predict_proba(X_test[:5])

`predict()` can be used fro regression models

In [ ]:
housingDf.head()

In [ ]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)
X=housingDf.drop("target", axis=1)
Y=housingDf["target"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
clf=RandomForestRegressor()
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

In [ ]:
Y_pred = clf.predict(X_test)

In [ ]:
housingDf.loc[20046]

In [ ]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(Y_test, Y_pred)

## 4 Evaluatng a machine learning model
three ways to evaluate scikit learn model/estimators
1. estimator's built-in scores() method
2. the scoring parameter
3. problem specific metric functions

### 4.1 Evaluting a model with the `Score` method

In [ ]:
from sklearn.ensemble import RandomForestClassifier
np.random.seed(42)
X=heartDisease.drop("target", axis=1)
Y=heartDisease["target"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
clf=RandomForestClassifier()
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
np.random.seed(42)
X=housingDf.drop("target", axis=1)
Y=housingDf["target"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
clf=RandomForestRegressor()
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

### 4.2 Evaluting a model with the `Scoring` method

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
np.random.seed(42)
X=heartDisease.drop("target", axis=1)
Y=heartDisease["target"]
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)
clf=RandomForestClassifier()
clf.fit(X_train,Y_train)
clf.score(X_test,Y_test)

In [ ]:
cross_val_score(clf, X, Y)

In [ ]:
cross_val_score(clf, X, Y, cv=20)

In [ ]:
np.random.seed(42)
normal_score=clf.score(X_test, Y_test)
five_CV=np.mean(cross_val_score(clf,X,Y))

In [ ]:
normal_score, five_CV

## 4.2.1 Classification model evaluation metrics
1. Accuracy
2. Area under ROC Curve
3. Confusion matrix
4. Classification report

**Accuracy**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
np.random.seed(69)
X=heartDisease.drop("target", axis=1)
Y=heartDisease["target"]
clf=RandomForestClassifier()
np.mean(cross_val_score(clf, X, Y))

In [ ]:
print(f"heart classifier accuracy {np.mean(cross_val_score(clf,X,Y))*100:.2f}%")

**Area under the recevier operating characterstics curve (AUC/ROC)**

Roc curves are comparision of model's true positive rate (tpr) versus a models false positive rate (fpr) 
* True positive = model predicts 1 when truth is 1
* False positive = model predicts 1 when truth is 0
* True negative = model predicts 0 when truth is 0
* False negative = model predicts 1 when truth is 0

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [ ]:
from sklearn.metrics import roc_curve
clf.fit(X_train,Y_train)
y_probs = clf.predict_proba(X_test)
y_probs[:10]

In [ ]:
y_probs_positive = y_probs[:,1]

In [ ]:
y_probs_positive

In [ ]:
fpr, tpr, threshold = roc_curve(Y_test, y_probs_positive)

In [ ]:
fpr

In [ ]:
import matplotlib.pyplot as plt

def plot_roc(fpr, tpr):
    """
    Plots a ROC curve given the false positive rate (fpr) 
    and true positive rate (tpr) of a model
    """
    plt.plot(fpr, tpr, color="orange", label="ROC")
    plt.plot([0,1],[0,1], color="darkblue", linestyle="--", label="Guessing")
    plt.xlabel("False Positive rate (fpr)")
    plt.ylabel("True positive rate (tpr)")
    plt.title("Receiver Operating Characterstics (ROC) Curve")
    plt.legend()
    plt.show()

plot_roc(fpr,tpr)

In [ ]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test, y_probs_positive)

**confusion matrix**
in essenense, gi